"*":
  "exception-reporting":
    userId: "8c46aad8-9f67-d742-b636-4a6cb4891d57"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/mat/code"
    openEmptyEditorOnStart: false
    followSymlinks: false
    destroyEmptyPanes: false
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    invisibles: {}
    tabType: "soft"
    fontSize: 13
  whitespace: {}
  "one-dark-ui": {}
  "gist-it":
    newGistsDefaultToPrivate: true
  tabs: {}
  "tree-view":
    showOnRightSide: false
