"*":
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "wrap-guide"
    ]
    followSymlinks: false
    ignoredNames: [
      "*.sql"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/mat/code"
  editor:
    fontSize: 13
    invisibles: {}
    showLineNumbers: false
    tabType: "soft"
  "exception-reporting":
    userId: "8c46aad8-9f67-d742-b636-4a6cb4891d57"
  gist: {}
  "gist-it":
    newGistsDefaultToPrivate: true
  linter: {}
  "omnisharp-atom": {}
  "one-dark-ui": {}
  "quantum-shell": {}
  tabs: {}
  "tree-view":
    showOnRightSide: false
  welcome:
    showOnStartup: false
  whitespace: {}
